# create local copy of this file and rename to .env.local
# Add .env.local to .gitignore!! (should be there already)
# SUPER IMPORTANT: Never push your .env.local to the public repo
MONGO_URI={mongo-uri-here}
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_URL=
NEXT_PUBLIC_CLERK_SIGN_UP_URL=
S3_BUCKET_NAME=
S3_BUCKET_REGION=
S3_BUCKET_SECRET_ACCESS_KEY=
S3_BUCKET_ACCESS_KEY_ID=
